<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-mainColor text-gray-900">
    <div class="px-2"> <!-- Внешние отступы -->
        <!-- Обтекаемая шапка интернет-магазина -->
        <header class="bg-slate-50 py-5 rounded-b-3xl"> <!-- rounded-b-3xl для более крупных углов снизу -->
            <div class="container mx-auto">
                <div class="flex justify-between items-center">
                    <!-- Логотип интернет-магазина -->
                    <a href="http://[::1]:5000" data-turbo="true">
                        <span class="text-red-500 text-3xl font-bold">Велик</span>
                    </a>
                    <!-- Поле поиска -->
                    <div class="w-1/2 bg-mainColor rounded-full px-4 py-3 flex items-center group">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-5 text-gray-400 group-focus-within:text-stone-700 transition-colors duration-75" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                        <input type="text" placeholder="Искать в Велике" class="w-full bg-transparent focus:outline-none pl-4 custom-caret" onfocus="iconFocus()" onblur="iconBlur()">
                    </div>

                    <!-- Поле для входа в аккаунт -->
                    <div class="flex items-center">
                        <button class="bg-mainColor text-gray-800 px-20 py-2 rounded-full">Войти</button>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Основной контент страницы -->
    <main class="container mx-auto">
        <turbo-frame id="main-frame">
            <!-- Включаем файл main_content.html.erb -->
            <%= render template: 'pages/main_content' %>

        </turbo-frame>
    </main>

    <script>
        function iconFocus() {
            document.getElementById('searchIcon').classList.add('text-black');
            document.getElementById('searchIcon').classList.remove('text-gray-400');
        }

        function iconBlur() {
            document.getElementById('searchIcon').classList.add('text-gray-400');
            document.getElementById('searchIcon').classList.remove('text-black');
        }
    </script>
</body>

</html>
