<div class="px-4">
      <div class="flex py-4 w-full">
  <!-- Боковая панель категорий -->
    <div class="w-1/4 bg-white rounded-3xl p-4">
      <ul class="space-y-4">
        <li class="flex items-center space-x-3">
        <span>На разные случаи</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>От Велика</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Готовая еда</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Молоко, яйца и сыр</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Хлеб и выпечка</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Овощи и фрукты</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Мясо и рыба</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Вода и напитки</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Сладкое</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Снеки</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Бакалея</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Морозилка</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>ЗОЖ и вегетарианство</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Для детей и родителей</span>
      </li>
      <li class="flex items-center space-x-3">
        <span>Для животных</span>
      </li>
    </ul>
  </div>
  <!-- Основной контент -->
  <div class="w-3/4 bg-white rounded-3xl p-4" style="margin-left: 10px;"> <!-- Отрицательный margin-left -->
    <!-- Ваш основной контент здесь -->
  </div>
</div>
